html
{font-family: helvetica}

h1
{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-family: helvetica;
  font-size: 80px;
  font-weight: bold;
  color:khaki;
  font-align: center horizontal;
}
h2
{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span
{
    font-weight: bold;
    color:blue;
}
